---
// Contacto.astro
import { Icon } from "astro-icon/components";
import { ContactForm } from "../react-components";
---

<section id="contact" class="py-20 bg-gray-900 text-gray-100">
    <div class="container-custom text-center">
        <h3 class="md:text-4xl text-3xl font-bold mb-4 text-violet-400">
            Get In Touch
        </h3>
        <p class="text-gray-400 mb-12">
            Have a project, idea, or just want to say hi? Send me a message!
        </p>

        <ContactForm client:load />
    </div>
</section>
